input ,select ,textarea{
    border:1px solid grey;
    padding :8px 10px;
}
input :focus,select:focus,textarea:focus{
    border:1px solid grey;
    outline: none;
}
.primary-contained.btn{
    background-color: var(--primary);
    color:white;
    padding:8px 20px;
    text-transform: uppercase;
}
.primary-contained.btn{
    background-color: white;
    color: var(--primary);
    padding:8px 20px;
    text-transform: uppercase;
    border:2px solid var(--primary);
}
/* Container styling */
.login-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Title styling */
  .login-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Register link styling */
  .register-link {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #1e90ff;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .register-link:hover {
    color: #104e8b;
  }
  
  /* Form styling */
  .login-form {
    margin-top: 20px;
  }
  
  /* Submit button styling */
  .login-submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-submit-btn:hover {
    background-color: #45a049;
  }
  
